> *Hypothesis Test and Descriptive Statistic to find out whether education level effects income or not.

In [1]:
#Import Library
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
#Read Dataset
df = pd.read_csv('../input/marketing-campaign-hypothesis-testing/marketing_campaign.csv', sep='\t')
df = df.dropna()
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

The First Phase is designing the hypothesis null (H0) and the hypothesis alternative (Ha)

H0 = Education level has no effect on income, Ha = Education level has effect on income

In [3]:
Graduation = df[df['Education']== 'Graduation']
PhD = df[df['Education'] == 'PhD']
Master = df[df['Education'] == 'Master']
Second_Cycle = df[df['Education'] == '2n Cycle']
Basic = df[df['Education'] == 'Basic']

In [4]:
df.Education.value_counts()

Graduation    1116
PhD            481
Master         365
2n Cycle       200
Basic           54
Name: Education, dtype: int64

In [5]:
anova_test = st.f_oneway(Graduation['Income'],
                         PhD['Income'],Master['Income'],Second_Cycle['Income'],Basic['Income'])

In [6]:
anova_test.pvalue

1.6677281316366318e-22

The second phase is testing hypothesis by using ONE_WAY ANOVA

In [7]:
if anova_test.pvalue>0.05:
    print('Education has no effect on income')
else:
    print('Education has an effect on income')

Education has an effect on income

Based on the analysis above, it shows that P-Value (1.667) > alpha (0.50) meaning that it is strongly enough to reject H0 and to accept Ha. Therefore, it can be interpreted that the education level significantly effects the invidual's income.